[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-pyodbc-azure = "*"
"django-python3-ldap" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
